<h1>Productos</h1>

{{#each products}}
  <div>
    <h3>{{this.title}}</h3>
    <p>${{this.price}}</p>
    <a href="/products/{{this._id}}">Ver más</a>
    <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
  </div>
{{/each}}

<div>
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
  {{/if}}

  Página {{page}} de {{totalPages}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>